
{{#each controller}}
<article class='.parttern' style='width:380px;height:250px;border: medium solid #008080;margin: 5px 5px;padding:10px;
overflow: hidden;
display: block; float:left; font-size:13px'>

{{#view App.ContentEditable contentBinding="this" class="name" key='name'}}{{name}}{{/view}}

<HR align="10%">
{{#view App.ContentEditable contentBinding="this" class="context" key='context'}}{{context}}{{/view}}
  ***
<section contenteditable='true'></section>
したがって
<section contenteditable='true'></section>
***
<section contenteditable='true'></section>
</article>
{{/each}}
